.env
env
__pycache__

myenv

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# .gitignore for FastAPI project with MongoDB

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# MongoDB
*.db
*.log
*.pid

# Environment Files
.env
*.env
.env.local
.env.*.local
.env.override

# FastAPI Configuration
__pycache__/
pyproject.toml

